@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600&display=swap');

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .avatar-img img {
    object-fit: cover;
  }

  .avatar-img div:has(img) {
    align-self: baseline;
    padding-top: 4px;
  }

  .list-continer button{
    color:#243C3E;
  }
  

}


